.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;
}