.pageWrapper {
  display: flex;
}

.senderWrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.listingWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.clearBtn {
  margin: 1em;
  margin-top: 16px;
  cursor: pointer;
}

.senderBtn {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .pageWrapper {
    flex-direction: column;
  }

  .senderWrapper {
    width: 100%;
  }
  
  .listingWrapper {
    width: 100%;
  }  
}

.skipLink {
  margin-right: 1rem;
  position: absolute;
  transform: translateX(-200%);
  transition: transform 0.3s;

  &:focus {
      position: static;
      transform: translateX(0);
  }
}